.env
.venv
db.sqlite3
ecoSwap/__pycache__/
core/__pycache__/
core/migrations/__pycache__/
exchange/__pycache__/
exchange/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
/.hintrc