{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecoSwap | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
  <header>
    <h1>ecoSwap</h1>
    <h2>{% block subtitle %}{% endblock %}</h2>
    <!-- <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </nav> -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'browse' %}">Browse</a></li>
            <li><a href="{% url 'eco_finder' %}">Eco Finder</a></li>
            <li><a href="{% url 'community' %}">Community</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
  </header>
  <main>
        {% block main %}
        {% endblock %}
  </main>
  <footer>
    <p>&copy; 2026 ecoSwap. All rights reserved.</p>
  </footer>

  <!-- <script src="{% static 'js/script.js' %}"></script> -->

</body>
</html>